// form currentRank hr
$common_parts : "sprite_common_parts";

// all icon parts
$icon_parts : "sprite_icon_parts_20130415_1";

// header footer grandMenu 
$menu_parts : "sprite_menu_parts";

// num parts
$numRed_parts : "sprite_num_red";
$numWhite_parts : "sprite_num_white";
$numGold_parts : "sprite_num_gold";

// mypage only parts
$mypage_parts : "sprite_mypage_parts_20130403_2";

//mission only parts
$mission_parts : "sprite_mission_parts_20130419_1";

// mission area selectbg
$mission_area_1-5 : "sprite_mission_area_1-5";
$mission_area_6-10 : "sprite_mission_area_6-10";

// guild and battle parts
$guildBattle_parts : "sprite_battle_parts";

// tutorial parts
$tutorial_parts : "sprite_tutorial_parts";