	<section id="missionProceed">
		<div id="an-anim" class="canvas">
			<ol>

				<li id="an-scene-0" >
					<div class="an-stage">

						<div id="advance">

							<div id="imgQuestBg01"><img  height="272" width="458"  data-src="{{getImgRoot/}}/assets/questbg01_N.jpg"></div>
							<div id="imgShadow03"><img  height="16" width="48"  data-src="{{getImgRoot/}}/assets/questcommon_eff_02.png"></div>
							<div id="imgShadow02"><img  height="16" width="48"  data-src="{{getImgRoot/}}/assets/questcommon_eff_02.png"></div>
							<div id="imgShadow01"><img  height="16" width="48"  data-src="{{getImgRoot/}}/assets/questcommon_eff_02.png"></div>
							<div id="imgKenshi06"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_3_02.png"></div>
							<div id="imgKenshi05"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_3_01.png"></div>
							<div id="imgKenshi04"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_2_02.png"></div>
							<div id="imgKenshi03"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_2_01.png"></div>
							<div id="imgKenshi02"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_1_02.png"></div>
							<div id="imgKenshi01"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_1_01.png"></div>
							<div id="imgelf01"><img  height="50" width="42"  data-src="{{getImgRoot/}}/assets/questcommon_imgel_01.png"></div>
							<div id="imgKemuri01"><img  height="64" width="64"  data-src="{{getImgRoot/}}/assets/questcommon_eff_01.png"></div>
							<div id="imgDashEf2"><img  height="272" width="546"  data-src="{{getImgRoot/}}/assets/questcommon_dasheff_02.png"></div>
							<div id="imgDashEf1"><img  height="272" width="546"  data-src="{{getImgRoot/}}/assets/questcommon_dasheff_01.png"></div>

							<div id="acquisition">
								<div id="imgTresuareBox01"><img  height="82" width="91"  data-src="{{getImgRoot/}}/assets/questcommon_tresuarebox_01.png"></div>
								<div id="imgTresuareBox02"><img  height="82" width="91"  data-src="{{getImgRoot/}}/assets/questcommon_tresuarebox_02.png"></div>
								<div id="imgSplashGroup01">
									<div id="imgSplash01"><img  height="36" width="36"  data-src="{{getImgRoot/}}/assets/questcommon_splash_01.png"></div>
									<div id="imgSplash02"><img  height="36" width="36"  data-src="{{getImgRoot/}}/assets/questcommon_splash_01.png"></div>
									<div id="imgSplash03"><img  height="36" width="36"  data-src="{{getImgRoot/}}/assets/questcommon_splash_01.png"></div>
									<div id="imgSplash04"><img  height="36" width="36"  data-src="{{getImgRoot/}}/assets/questcommon_splash_01.png"></div>
								</div>
								<div id="shapeWhite01"></div>
							</div>

							<div id="fieldclear">
								<div id="imgQuestBg02"><img  height="272" width="458"  data-src="{{getImgRoot/}}/assets/questbg01_N.jpg"></div>
								<div id="imgShadow06"><img  height="16" width="48"  data-src="{{getImgRoot/}}/assets/questcommon_eff_02.png"></div>
								<div id="imgShadow05"><img  height="16" width="48"  data-src="{{getImgRoot/}}/assets/questcommon_eff_02.png"></div>
								<div id="imgShadow04"><img  height="16" width="48"  data-src="{{getImgRoot/}}/assets/questcommon_eff_02.png"></div>
								<div id="imgKenshi12"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_3_02.png"></div>
								<div id="imgKenshi11"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_3_01.png"></div>
								<div id="imgKenshi10"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_2_02.png"></div>
								<div id="imgKenshi09"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_2_01.png"></div>
								<div id="imgKenshi08"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_1_02.png"></div>
								<div id="imgKenshi07"><img  height="128" width="128"  data-src="{{getImgRoot/}}/canvas/quest_1_01.png"></div>
								<div id="imgelf02"><img  height="50" width="42"  data-src="{{getImgRoot/}}/assets/questcommon_imgel_01.png"></div>
								<div id="imgDashEf3"><img  height="272" width="546"  data-src="{{getImgRoot/}}/assets/questcommon_dasheff_01.png"></div>
								<div id="imgDashEf4"><img  height="272" width="546"  data-src="{{getImgRoot/}}/assets/questcommon_dasheff_02.png"></div>
								<div id="imgKemuri02"><img  height="64" width="64"  data-src="{{getImgRoot/}}/assets/questcommon_eff_01.png"></div>
								<div id="imgDesignCover02"><img  height="272" width="458"  data-src="{{getImgRoot/}}/assets/questbg02_N.png"></div>
								<div id="shapeWhiteFlash01"></div>
							</div>

							<div id="imgDesignCover01"><img  height="272" width="458"  data-src="{{getImgRoot/}}/assets/questbg02_N.png"></div>

							<div id="acquisitiongachap">
								<div id="imgGachaP01"><img  height="107" width="106"  data-src="{{getImgRoot/}}/assets/questcommon_gachap_01.png"></div>
								<div id="imgTp01"><img  height="107" width="106"  data-src="{{getImgRoot/}}/assets/questcommon_tp_01.png"></div>
								<div id="imgRecovery01"><img  height="49" width="49"  data-src="{{getImgRoot/}}/assets/questcommon_recovery_01.png"></div>
								<div id="imgRecovery02"><img  height="49" width="49"  data-src="{{getImgRoot/}}/assets/questcommon_recovery_01.png"></div>
								<div id="imgRecovery03"><img  height="49" width="49"  data-src="{{getImgRoot/}}/assets/questcommon_recovery_01.png"></div>
								<div id="imgGachaPget"><img  height="47" width="158"  data-src="{{getImgRoot/}}/assets/questcommon_gachapget_01.png"></div>
								<div id="imgTpRecovery"><img  height="46" width="111"  data-src="{{getImgRoot/}}/assets/questcommon_tprecoveryes_01.png"></div>
							</div>

							<div id="levelup">
								<div id="imgLvupLogo"><img  height="118" width="178"  data-src="{{getImgRoot/}}/assets/questcommon_lvuplogo_01.png"></div>
								<div id="imgLvupLogoWh"><img  height="127" width="185"  data-src="{{getImgRoot/}}/assets/questcommon_levelupLogoWh_01.png"></div>
								<div id="imgSplashes01"><img  height="96" width="295"  data-src="{{getImgRoot/}}/assets/questcommon_splashes_01.png"></div>
							</div>

							<div id="fieldclearlogo">
								<div id="imgAreaClearLogo"><img  height="48" width="288"  data-src="{{getImgRoot/}}/assets/questcommon_areaclearLogo_01.png"></div>
								<div id="imgAreaClearLogoWh"><img  height="48" width="288"  data-src="{{getImgRoot/}}/assets/questcommon_areaclearLogoWh_01.png"></div>
								<div id="imgClearFlashGroup">
									<div id="imgClearRecovery01"><img  height="80" width="80"  data-src="{{getImgRoot/}}/assets/questcommon_tprecoveryes_02.png"></div>
									<div id="imgClearRecovery02"><img  height="80" width="80"  data-src="{{getImgRoot/}}/assets/questcommon_tprecoveryes_02.png"></div>
									<div id="imgClearRecovery03"><img  height="80" width="80"  data-src="{{getImgRoot/}}/assets/questcommon_tprecoveryes_02.png"></div>
									<div id="imgClearRecovery04"><img  height="80" width="80"  data-src="{{getImgRoot/}}/assets/questcommon_tprecoveryes_02.png"></div>
									<div id="imgClearRecovery05"><img  height="80" width="80"  data-src="{{getImgRoot/}}/assets/questcommon_tprecoveryes_02.png"></div>
								</div>
								<div id="imgSplashes02"><img  height="96" width="295"  data-src="{{getImgRoot/}}/assets/questcommon_splashes_01.png"></div>
							</div>
							<!--advance end -->
						</div>

					</div>
				</li>

			</ol>
		</div>
		<!--div class="message navicoMove">
			<p>
				<span><span class="link" data-href="#">割り振りポイント</span>があるよ！ああああああああああああああああああああああああ</span>
			</p>
		</div-->
		<div class="gergeBox">
			<div class="gergeBgFrame">
				<div class="gergeBg"><span class="gerge missionProgress jsGauge" style="width:{{>field.progress_percent}}%;"></span></div>
			</div>
		</div>
	</section>

	<section id="missionControl" class="metalPanel">
		<button class="btn_l proceed jsProceed"><span class="hide">進む</span></button>
		<div class="statusData">
			<table class="gergeTable middle">
				<tr>
					<th>行動P</th>
					<td class="gergeBox">
						<div class="gergeBgFrame">
							<div class="gergeBg"><span class="gerge missionP jsGauge" style="width:{{>user.mp_percent}}%;"></span></div>
						</div>
					</td>
					<td><span class="jsNum js_mp">{{>user.mp}}</span>/<span class="jsNum js_max_mp">{{>user.max_mp}}</span></td>
				</tr>
				<tr>
					<th>AP</th>
					<td class="gergeBox">
						<div class="gergeBgFrame">
							<div class="gergeBg"><span class="gerge battleP jsGauge" style="width:{{>user.tp}}%;"></span></div>
						</div>
					</td>
					<td><span class="jsNum js_tp">{{>user.tp}}</span>/100</td>
				</tr>
				<tr>
					<th>Ex.</th>
					<td class="gergeBox">
						<div class="gergeBgFrame">
							<div class="gergeBg"><span class="gerge missionExp jsGauge" style="width:{{>user.exp_percent}}%;"></span></div>
						</div>
					</td>
					<td>あと<span class="jsNum js_exp">{{:user.exp_levelup - user.exp_current}}</span></td>
				</tr>
			</table>
			<dl>
				<dt>所持ギル</dt><dd class="jsNum js_gil">{{>user.gil}}</dd>
				<dt>所持武具</dt><dd><span class="jsNum js_equip">{{>user.equip_num}}</span>/<span class="jsNum js_max_equip">{{>user.max_equip_num}}</span></dd>
			</dl>
		</div>
		<ul class="findingItem">
			{{for field.equip_treasures}}
			<li class="{{if get_flg}}got{{else}}yet{{/if}}" data-type="{{>type}}" data-id="{{>id}}">
				{{if type=="equipment"}}
					{{equipThumb equip_id=id size="medium" /}}
				{{else}}
					<img src="{{getImgRoot/}}/treasure/{{>id}}_128.png">
				{{/if}}
			</li>
			{{/for}}
		</ul>
	</section>
	
	<hr>

	<div class="linkGroup">
		<div class="arrowLink">
			<button class="link prev" data-href="mission/top/{{>stage.stage_id}}/">フィールド選択へ戻る</button>
		</div>

		<div class="arrowLink">
			<button class="link prev" data-href="mission/stage/">ステージ選択へ戻る</button>
		</div>
	</div>

	<div class="helpList">
		<ul>
			<li><button class="link" data-href="help/detail/801/">クエストってなに？</button></li>
			<li><button class="link" data-href="help/detail/804/">お宝ってなに？</button></li>
			<li><button class="link" data-href="help/detail/503/">APってなに？</button></li>
		</ul>
	</div>

{{escape}}
<script id="jsTemplateEquipPopup" type="text/x-jsrender">
	<section id="findItem" class="missionModalBox contents shadow statusData_icon equipData">
		<h1>{{>equip_name}}（{{:~getRarityText(rarity)}}）</h1>
		<div class="columnBox">
			{{equipThumb equip_id=equip_id step=step size="medium" /}}
			<div class="contentsInner">
				<dl>
					<dt>Lv.</dt><dd>1{{growTypeTag grow_type=grow_type /}}</dd>
					<dt>必要{{if equip_type == 1}}武器{{else}}防具{{/if}}P</dt><dd>{{>cost}}</dd>
					<dt>{{if equip_type == 1}}攻撃{{else}}防御{{/if}}</dt><dd>{{>power}}</dd>
					<dt>{{if equip_type == 1}}特攻{{else}}特防{{/if}}</dt><dd>{{>special_power}}</dd>
				</dl>
				<button class="btn jsSellProceed" data-user_equip_no="{{>user_equip_no}}">売却して進む</button>
			</div>
		</div>
	</section>
</script>

<script id="jsTemplateTreasurePopup" type="text/x-jsrender">
	<section id="findTreasure" class="missionModalBox contents shadow statusData_icon treasureData">
		<h1>【お宝】{{>treasure_name}} をゲット</h1>
		<div class="columnBox">
			<img src="{{getImgRoot/}}/treasure/{{>treasure_id}}_128.png">
			<div class="contentsInner">
				<dl>
					<dt>シリーズ</dt><dd>{{>series_name}}</dd>
					<dt>発見数</dt><dd>{{>collect_num}}/{{>total_num}}</dd>
				</dl>
				<button class="btn jsTresureDetail" data-href="collection/treasure/detail/{{>series_id}}/{{>treasure_id}}/" data-linked="false">図鑑を見に行く</button>
			</div>
		</div>
	</section>
</script>

<script id="jsTemplateAlchemyPopup" type="text/x-jsrender">
	<section id="findMaterial" class="missionModalBox contents shadow statusData_icon materialData">
		<h1>錬金マテリアをゲット</h1>
		<div class="columnBox">
			<img src="{{getImgRoot/}}/item/materia.png">
			<div class="contentsInner">
				<p>ミッちゃんに渡すと、アイテムを錬成できる不思議な素材</p>
				<dl>
					<dt>所持数</dt><dd>{{>collection_item_num}}個</dd>
				</dl>
				<button class="btn" data-href="event/alchemy/">錬金に行く</button>
			</div>
		</div>
	</section>
</script>


<script id="jsTemplateEquipMaxFirstErrorPopup" type="text/x-jsrender">
	<!-- //所持数上限（クエスト開始時） -->
	<div id="equipMax_start">
		<p>
			武具の所持数が上限に達しています。
			<span class="limit"><span>所持数</span>{{>equip_num}}/{{>max_equip_num}}</span>
		</p>
		<div class="innerBtnBox">
			<button class="btn" data-href="compose/">合成する</button><button class="btn" data-href="equip/sell/list/">売却する</button>
		</div>
	</div>
</script>

<script id="jsTemplateProceedLevelUpPopup" type="text/x-jsrender">
	<section class="modalBox levelUp jsProceedLevelUpPopup">
		<span class="close jsProceedLevelUpPopupClose"><span>閉じる</span></span>
		<h1>Lv.{{:level_after-1}}<span class="nextLevel">→</span>Lv.{{:level_after}}</h1>
		<article class="modalInner statusData">
			<h2>ステータスが上がった！</h2>
			<div class="columnBox">
				<dl>
					{{if win_weapon_cost}}
						<dt>武器P</dt><dd>{{:weapon_cost_after}}（<span class="up">+{{:win_weapon_cost}}</span>）</dd>
					{{/if}}
					{{if win_protector_cost}}
						<dt>防具P</dt><dd>{{:protector_cost_after}}（<span class="up">+{{:win_protector_cost}}</span>）</dd>
					{{/if}}
					{{if win_ability_cost}}
						<dt>アビP</dt><dd>{{:ability_cost_after}}（<span class="up">+{{:win_ability_cost}}</span>）</dd>
					{{/if}}
				</dl>
				<dl>
					{{if win_hp_max}}
						<dt>MaxHP</dt><dd>{{:hp_max_after}}（<span class="up">+{{:win_hp_max}}</span>）</dd>
					{{/if}}
					{{if win_mp_max}}
						<dt>Max行動P</dt><dd>{{:mp_max_after}}（<span class="up">+{{:win_mp_max}}</span>）</dd>
					{{/if}}
				</dl>
			</div>
			<p>行動Pが全回復した！</p>
		</article>
	</section>
</script>
{{/escape}}
