<div id="fullScreen">
	<canvas id="canvas" width="320" height="320"></canvas>
	<div class="pause"><button class="pushEnter">TAP SCREEN</button></div>
</div>

<div id="jsGachaResult">
	<h1 class="mainHeader">ガチャ結果</h1>
	<section id="gachaResult" class="single">
		<section class="itemDetail{{if equips[0].new_flg}} new{{/if}}">
			{{for equips}}
			<div class="description">
				{{equipThumb equip_id=equip_id step=step size="large" /}}
				<h1 class="itemName">{{>equip_name}} ({{:~getRarityText(rarity)}})</h1>
				<p>{{>description}}</p>
			</div>
			<div class="contents contentsShadow statusData equipListStatus">
				<div class="contentsInner">
					<dl>
						<dt>Lv.</dt><dd>{{>equip_level}}/{{>max_level}} {{growTypeTag grow_type=grow_type /}}</dd>
						<dt>成長</dt><dd><div class="gergeBgFrame"><div class="gergeBg"><span class="gerge equipGrowth" style="width:0%;"></span></div></div></dd><dd>0%</dd>

					</dl>
					<div class="columnBox">
						<dl>
							<dt>レア度</dt>
							<dd>{{:~getRarityKanaText(rarity)}}</dd>
							<dt>{{if equip_type === 1}}攻撃{{else}}防御{{/if}}</dt><dd>{{>power}}</dd>
							<dt>属性</dt>
							<dd>{{if attribute_name}}{{>attribute_name}}{{else}}−{{/if}}</dd>
						</dl>
						<dl>
							<dt>必要{{if equip_type === 1}}武器{{else}}防具{{/if}}P</dt><dd>{{>equip_cost}}</dd>
							<dt>特{{if equip_type === 1}}攻{{else}}防{{/if}}</dt><dd>{{>special_power}}</dd>
							<dt>属性Lv</dt>
							<dd>{{if attribute_level}}{{>attribute_level}}{{else}}−{{/if}}</dd>
						</dl>
					</div>
					<dl>
						<dt>売却価格</dt><dd>{{>sell_price}}</dd>
					</dl>
				</div>
			</div>
			{{/for}}

			<p class="paramStatus">
				{{if ~someSentGift(equips)}}
				<span class="notice">所持武具がいっぱいのため<br>武具がギフトへ送られました。</span>
				{{/if}}
				<span class="headline">所持武具数</span>{{if ~someSentGift(equips)}}{{>own_equip_num}}{{else}}{{>(own_equip_num - 1)}}{{/if}}<span class="sepalator">→</span>{{>own_equip_num}}
			{{if own_gacha_p !== null}}
				<br><span class="headline">所持ガチャP</span>{{>own_gacha_p_before}}<span class="sepalator">→</span>{{>own_gacha_p}}
			{{/if}}
			</p>

			<div class="btnBox">
				<button class="btn large" data-href="gacha/normal/">もう一度ノーマルガチャを引く</button>
				{{if !(~someSentGift(equips))}}
				<button class="btn large jsButtonCompose">ベースにして合成する</button>
				<button class="btn large jsButtonSell">売却する</button>
				<button class="btn large jsButtonProtect">保護する</button>
				{{/if}}
			</div>
		</section>
	</section>

	{{if rare_gacha_news.length > 0}}
	<section id="rareReport">
		<h1 class="subHeader2">
			<span class="subHeaderBg_l"></span>
			<span>レア速報</span>
			<span class="subHeaderBg_r"></span>
		</h1>
		<div id="jsRareNewsList">
			{{rareGachaNewsList rare_gacha_news=rare_gacha_news /}}
		</div>
	</section>
	{{/if}}

	<hr>

	<div class="banner">
		{{for #data tmpl="#jsTemplateBanners" /}}
	</div>

	<div class="listMenu">
		<ul>
			<!-- //通常リストメニュー -->
			<li><div class="link" data-href="deck/list/1/">装備へ</div></li>
			<li><div class="link" data-href="equip/list/">武具一覧へ</div></li>
		</ul>
	</div>

	<div class="helpList">
		<ul>
			<li><button class="link" data-href="help/detail/901/">ガチャってなに？</button></li>
		</ul>
	</div>

</div>


