	<h1 class="mainHeader">ショップ</h1>
	
	<div class="statusLine">
		<p><span>所持コイン</span> {{>own_coin}}</p>
	</div>
	<section class="shopContents">
		{{for sales}}
		<section class="contents contentsShadow statusData_icon{{if buy_limit_desc != null}} limit{{/if}} jsItems" data-message-id="{{>message_id}}" data-item-id="{{>shop_item_id}}">
			{{if buy_limit_desc != null}}
			<p class="contentsHeader">{{>buy_limit_desc}}</p>
			{{/if}}
			<h1>{{>item_name}}</h1>
			<div class="columnBox innerHeader">
				{{if set_sales_flg }}
				<img src="{{getImgRoot/}}/itemset/{{>item_id}}.png">
				{{else}}
				<img src="{{getImgRoot/}}/item/{{>item_id}}.png">
				{{/if}}
				<div class="contentsInner">
					<dl>
						<dt>価格</dt><dd>{{>price_coin}}</dd>
						{{if own_num }}<dt>所持数</dt><dd>{{>own_num}}</dd>{{/if}}
					</dl>
					<p>
						{{>description}}
					</p>
				</div>
			</div>
			<div class="numControl shopNumControl">
				{{if buy_limit_num_flg === false || buy_limit_rest !== 0}}
				<div class="jsCounter numControlSwitch" data-max="99" data-storage="buy_num">
					<button class="jsCounterDecrement down_off"><span class="hide">−</span></button>
					<input class="jsCounterNum" type="text" maxlength="2" value="1" style="width:50px">
					<button class="jsCounterIncrement up_off"><span class="hide">＋</span></button>
				</div>
				<button class="btn jsCounterButton jsButtonBuy">購入する</button>
				{{else}}
				すでに購入制限数を超えています！！
				{{/if}}
			</div>
		</section>
		{{/for}}
	</section>
	
	<hr>
	
	<section class="caution">
		<article>
			<ul>
				<li>アメGでもご利用頂けます。</li>
			</ul>
		</article>
	</section>

	<div class="helpList">
		<ul>
			<li><button class="link" data-href="help/detail/1201/">ショップってなに？</button></li>
		</ul>
	</div>


