<div id="fullScreen">
	<canvas id="canvas" width="320" height="320"></canvas>
	<div class="pause"><button class="pushEnter">TAP SCREEN</button></div>
</div>

<div id="jsGachaResult">
	<h1 class="mainHeader">ガチャ結果</h1>
	<section id="gachaResult" class="single">
		<section class="itemDetail{{if equips[0].new_flg}} new{{/if}}">
			{{for equips}}
			<div class="description">
				{{equipThumb equip_id=equip_id step=step size="large" /}}
				<h1 class="itemName">{{>equip_name}} ({{:~getRarityText(rarity)}})</h1>
				<p>{{>description}}</p>
			</div>
			<div class="contents contentsShadow statusData equipListStatus">
				<div class="contentsInner">
					<dl>
						<dt>Lv.</dt><dd>{{>equip_level}}/{{>max_level}} {{growTypeTag grow_type=grow_type /}}</dd>
						<dt>成長</dt><dd><div class="gergeBgFrame"><div class="gergeBg"><span class="gerge equipGrowth" style="width:0%;"></span></div></div></dd><dd>0%</dd>
					</dl>
					<div class="columnBox">
						<dl>
							<dt>レア度</dt>
							<dd>{{:~getRarityKanaText(rarity)}}</dd>
							<dt>{{if equip_type === 1}}攻撃{{else}}防御{{/if}}</dt><dd>{{>power}}</dd>
							<dt>属性</dt>
							<dd>{{if attribute_name}}{{>attribute_name}}{{else}}−{{/if}}</dd>
						</dl>
						<dl>
							<dt>必要{{if equip_type === 1}}武器{{else}}防具{{/if}}P</dt><dd>{{>equip_cost}}</dd>
							<dt>特{{if equip_type === 1}}攻{{else}}防{{/if}}</dt><dd>{{>special_power}}</dd>
							<dt>属性Lv</dt>
							<dd>{{if attribute_level}}{{>attribute_level}}{{else}}−{{/if}}</dd>
						</dl>
					</div>
					<dl>
						<dt>売却価格</dt><dd>{{>sell_price}}</dd>
					</dl>
				</div>
			</div>
			{{/for}}

			{{if current_emblems}}
			{{emblemGotState current_emblems=current_emblems before_emblems=before_emblems /}}
			{{/if}}

			{{if omakes.length > 0 }}
			{{for omakes}}
			<section class="gacgaBonus">
				<h1 class="subHeader3">おまけを獲得！</h1>
				<section class="contents contentsShadow statusData_icon">
					<div class="columnBox innerHeader">
						{{giftThumb type=item_type id=item_id /}}
						<div class="contentsInner">
							<h1>{{>item_name}}</h1>
							<dl>
								<dt>数量</dt><dd>{{>qty}}</dd>
							</dl>
						</div>
					</div>
				</section>
			</section>
			{{/for}}
			{{/if}}

			{{if ~someSentGift(equips) || surplus_emblem_flg || omakes.length > 0}}
			<section class="complateMessage">
				<article>
					<span class="notice">
						{{if current_emblems && surplus_emblem_flg }}余ったエンブレムは成長の光石（R）に<br>変化して、ギフトへ送られました。<br>{{/if}}
						{{if ~someSentGift(equips)}}所持武具がいっぱいのため<br>一部の武具がギフトへ送られました。<br>{{/if}}
						{{if omakes.length > 0}}おまけはギフトに送られました。<br>{{/if}}
					</span>
					{{/if}}
					<p class="paramStatus">
						<span class="headline">所持武具数</span>{{if ~someSentGift(equips)}}{{>own_equip_num}}{{else}}{{>(own_equip_num - 1)}}{{/if}}<span class="sepalator">→</span>{{>own_equip_num}}
					{{if use_ticket_name !== null}}
						<br><span class="headline">所持{{>use_ticket_name}}</span>{{>own_ticket_num_before}}枚<span class="sepalator">→</span>{{>own_ticket_num}}枚
					{{else query.payment_method==='COIN'}}
						<br><span class="headline">所持コイン</span>{{>own_coin_before}}<span class="sepalator">→</span>{{>own_coin}}
					{{else}}
						<br><span class="headline">所持アメG</span>{{>own_ame_gold_before}}<span class="sepalator">→</span>{{>own_ame_gold}}
					{{/if}}
					</p>
				{{if ~someSentGift(equips) || surplus_emblem_flg || omakes.length > 0}}
				</article>
			</section>
			{{/if}}

			<div class="btnBox">
				<button class="btn_l red" data-href="gacha/buy/">もう一度{{>gacha_name}}を引く</button>
				{{if !(~someSentGift(equips))}}
				<button class="btn large jsButtonCompose">ベースにして合成する</button>
				<button class="btn large jsButtonSell">売却する</button>
				<button class="btn large jsButtonProtect">保護する</button>
				{{/if}}
			</div>
		</section>
	</section>

	{{if rare_gacha_news.length > 0}}
	<section id="rareReport">
		<h1 class="subHeader2">
			<span class="subHeaderBg_l"></span>
			<span>レア速報</span>
			<span class="subHeaderBg_r"></span>
		</h1>
		<div id="jsRareNewsList">
			{{rareGachaNewsList rare_gacha_news=rare_gacha_news /}}
		</div>
	</section>
	{{/if}}

	<hr>

	<div class="banner">
		{{for #data tmpl="#jsTemplateBanners" /}}
	</div>

	<div class="listMenu">
		<ul>
			<!-- //通常リストメニュー -->
			<li><div class="link" data-href="deck/list/1/">装備へ</div></li>
			<li><div class="link" data-href="equip/list/">武具一覧へ</div></li>
		</ul>
	</div>

	<div class="helpList">
		<ul>
			<li><button class="link" data-href="help/detail/901/">ガチャってなに？</button></li>
		</ul>
	</div>
</div>
